# Configurações do Mezzio (dentro da pasta projeto)
projeto/config/autoload/local.php
projeto/config/autoload/*.local.php
projeto/config/autoload/*.php.serv

# Dependências
projeto/vendor/
node_modules/
projeto/sessoes/
projeto/data/cache/*
phpcs.xml.dist
phpunit.xml.dist
psalm-baseline.xml
psalm.xml.dist
vite.config.js

# Logs do Servidor (HostGator)
public_html/error_log
data/log/*
data/cache/*

# --- 2. FRONTEND (VITE/TAILWIND/JS) ---
dist/
public_html/build/
.eslintcache

# --- 3. DEPLOY E FERRAMENTAS ---
deploy.cjs
deploy.log
package.json
leiame
.env
.env.*

# --- 4. SISTEMA E IDE ---
.vscode/
.DS_Store
Thumbs.db
*.code-workspace